USE [master]
GO
/****** Object:  Database [ATM]    Script Date: 07/22/2013 21:49:36 ******/
CREATE DATABASE [ATM] ON  PRIMARY 
( NAME = N'ATM', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\ATM.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ATM_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\ATM_log.LDF' , SIZE = 576KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ATM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ATM]
GO
/****** Object:  User [beleva]    Script Date: 07/22/2013 21:49:36 ******/
CREATE USER [beleva] FOR LOGIN [beleva] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[CardAccounts]    Script Date: 07/22/2013 21:49:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CardAccounts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CardNnumber] [nvarchar](10) NULL,
	[CardPin] [nvarchar](4) NULL,
	[CardCash] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CardAccounts] ON
INSERT [dbo].[CardAccounts] ([Id], [CardNnumber], [CardPin], [CardCash]) VALUES (1, N'1000000001', N'4400', 36803.5440)
INSERT [dbo].[CardAccounts] ([Id], [CardNnumber], [CardPin], [CardCash]) VALUES (2, N'2000000022', N'0031', 999.0000)
INSERT [dbo].[CardAccounts] ([Id], [CardNnumber], [CardPin], [CardCash]) VALUES (3, N'3400000123', N'3256', 23.2000)
SET IDENTITY_INSERT [dbo].[CardAccounts] OFF
